BasedOnStyle: Microsoft

Language: Cpp

Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120

BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left

NamespaceIndentation: None

SortIncludes: CaseSensitive

IncludeBlocks: Regroup

DerivePointerAlignment: false

AccessModifierOffset: -4

IndentCaseLabels: false

SpaceBeforeParens: ControlStatements

SpacesInParentheses: false
SpacesInSquareBrackets: false

Cpp11BracedListStyle: true

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

PackConstructorInitializers: Never

AlignAfterOpenBracket: Align

BinPackArguments: false
BinPackParameters: false

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true
AlwaysBreakTemplateDeclarations: Yes
